.footer__container {
    background: #000;
    color: var(--textoClaro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footer__container div {
    margin: 0 20px;
}

.font__mont__alt {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
}


.footer__container__icons {
    display: flex;
    gap: 20px;
}

.footer__container__icons a {
    color: var(--textoClaro);
}