.card__marca {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border-radius: 8px;
    min-width: 150px;
    width: 60vw;
    max-width: 275px;
    min-height: 275px;
    max-height: 300px;
    border: none !important;
    margin-right: 0px !important;
    margin-top: 50px;
}

.card__marca img {
    min-width: 120px;
    max-width: 150px;
}
  
.data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data p {
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}
  
.types {
    display: flex;
    text-align: center;
    gap: 25px;
}
.types span {
    padding: 0.5rem;
    background-color: white;
    border-radius: 8px;
    text-transform: capitalize;
}

.swiper__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper__container__img{
    z-index: -1 !important;
}

@media (max-width:  350px) {
    .types {
        flex-direction: column;
        gap: 10px;
    }
}

  
.card__marca:hover {
    transition-duration: 0.3s;
    transform: scale(1.1);
}