.bg__creatividad{
    background-image: url('../components/assets/secciones/Creatividadycontenidos/creatividad-y-contenidos-sin-txt.png');
    height: 120vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn__creatividad {
    color: var(--creatividad);
    border: 1px var(--creatividad) solid;
}
