.bg__estrategia{
    background-image: url('../components/assets/secciones/Estrategia/estrategia_sin_texto.png');
    height: 120vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn__estrategia {
    color: var(--estrategia);
    border: 1px var(--estrategia) solid;
}

.font__mont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
