:root {
  --fuenteParrafos: "Quicksand", sans-serif;
  --titulosWeb: #1570B5;
  --titulosCard: #323267;
  --textoClaro: #f9f9f9;
  --textoObscuro: #18191F;
  --textoGris: #383838; 
}

.section {
  min-height: 100vh;
}

