:root {
  --fuenteParrafos: "Quicksand", sans-serif;
  --titulosWeb: #1570b5;
  --titulosCard: #323267;
  --textoClaro: #f9f9f9;
  --textoObscuro: #18191f;
  --textoGris: #383838;

  --estrategia: #5d216f;
  --creatividad: #229ed2;
  --relaciones: #990099;
  --social: #0f5c9f;
  --gestion: #d90099;
  --leads: #7671ff;
}

h1 {
  color: var(--titulosWeb);
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

body {
  background-color: var(--primario);
  overflow: "auto";
  overflow-y: "scroll";
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--textoObscuro);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--relaciones);

  border-radius: 10px;
}

.font__mont {
  font-family: "Montserrat", sans-serif;
}

.font__mont__alt {
  font-family: "Montserrat Alternates", sans-serif;
}

.section {
  min-height: 100vh;
  padding-top: 100px;
}

.section__container {
  padding-top: 100px;
}

.title__principal {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__principal h1 {
  font-size: 50px;
  color: var(--textoClaro);
  border-bottom: 5px solid white;
  display: inline;
}

.title__principal p {
  color: var(--textoClaro);
  font-size: 35px;
  margin-top: 20px;
}

.cards__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
}

.buttons__container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 6px;
  flex-wrap: wrap;
}

.buttons__container div {
  border-radius: 90px;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 20px;
}

.text__cards {
  text-align: center;
  padding: 100px;
}

.text__cards p {
  font-size: 25px;
  font-weight: 300;
}

.card__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  margin-top: -210px !important;
  color: var(--estrategia);
}

.card__section {
  border: none;
  width: 100%;
  border: 2px 2px 0px 2px #f9f9f9 solid;
  border-radius: 15px;
  box-shadow: 0 -1em 3em rgba(0, 0, 0, 0.1);
  margin-top: 120px;
  padding: 50px;
  min-height: 400px;
  max-height: 400px;
}

/*TITULOS DE LAS PAGES*/

.title_leads {
  color: #1570b5;
}

.border_leads {
  border-bottom: 1px var(--leads) solid;
}

@media only screen and (min-width: 768px) {
  .title__principal {
    margin-left: 100px;
    display: block;
  }

  .title__principal h1 {
    font-size: 100px;
    color: var(--textoClaro);
    border-bottom: 5px solid white;
    display: inline;
  }

  .title__principal p {
    color: var(--textoClaro);
    font-size: 35px;
    margin-top: 20px;
  }

  .cards__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top: 130px;
    flex-wrap: wrap;
  }

  .card__section {
    max-width: 70%;
  }
}
@media only screen and (min-width: 950px) {
  .card__section {
    width: 40%;
  }
}
