.bg__social{
    background-image: url('../components/assets/secciones/Socialmedia/social-media-sin-txt.png');
    height: 120vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn__social {
    color: var(--social);
    border: 1px var(--social) solid;
}

.font__mont {
    font-family: 'Montserrat', sans-serif;
}
