.title__nosotros{
    margin-bottom: 30px;
}

.title__about {
    text-align: center;
    max-height: 100px;
}

.title__about h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--titulosWeb);
}

.about__container {
    color: #000;
    gap: 40px;
}

.title__second {
    color: var(--titulosWeb);
    font-weight: bold;
    font-size: 1.2rem;
}

.font__mont__alt {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
}

.card__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.team__card {
    border: none !important;
    width: 7rem;
    margin-top: 30px;
}

.image__card {
    border-radius: 50%;
}

.cards__title {
    font-size: 14px !important;
    font-weight: bold;
}

.card__pharagraph {
 font-size: 12px !important;
 font-weight: 400;
}
.card__container__valores{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    color: #000;
}

.card__container h5 {
    font-size: 12px !important;
    text-align: center;
}

.valor__card {
    border: none !important;
    width: 10rem;
}

.card__pharagraph__flor {
    font-size: 10.5px !important;
    font-weight: 400;
}

@media only screen and (min-width: 768px) {

    .title__about{
        text-align: start;
        margin-left: 100px;
    }

    .about__container{
        display: flex;
        justify-content: space-around;
        
    }

    .about__container article {
        width: 40%;
    }
    .about__container .card__container {
        width: 50%;
        align-items: center;
        margin: 30px;
    }

    .title__second{
        margin-top: 50px;
    }

    .card__container {
        justify-content: center;
    }

    .team__card {
        width: 7rem;
        margin-top: 30px;
    }

    .image__card {
        transition: all 0.9s ease-in;
    }

    .image__card:hover {
        transform: scale(1.15);
    }

    .team__card__marcos {
        margin-top: 10px;
    }

    .team__card__mel {
        margin-top: 60px;
    }

    .card__container__valores {
        margin-top: 2rem;
        justify-content: space-between;
    }

    .valor__card .image__card {
        width: 7rem;
        align-self: center;
    }

    .card__container__valores .cards__title{
        font-weight: 400;
    }

}

@media only screen and (min-width: 990px) {
    .about__container .card__container {
        width: 65%;
        align-items: center;
        margin: 40px;
    }
    .team__card__flor{
        margin-top: 115px;
    }
}

@media only screen and (min-width: 1200px) {
    .about__container .card__container {
        width: 35%;
        align-items: center;
        margin: 30px;
    }
    .team__card__flor{
        margin-top: 115px;
    }
}


@media only screen and (min-width: 1399px) {
    .about__container .card__container {
        width: 35%;
        align-items: center;
        margin: 30px;
    }
}

@media only screen and (min-width: 1400px) {
    .about__container .card__container {
        width: 60%;
        align-items: center;
        gap: 30px;
    }

    .team__card__flor{
        margin-top: 115px;
    }
}
